
html {
    font-family: 'Sofia Sans', sans-serif;
    height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background: 
         linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
* {margin: 0; padding: 0;}
/*form styles*/
#mslist {
	width: 500px;
	margin: 60px auto;
	text-align: center;
	position: relative;
}

#mslist h2{
    color: white;
}


#mslist fieldset {
	background: rgb(82, 82, 82);
	border: 0 none;
	border-radius: 10px;
	box-shadow: 0 0 15px 1px rgba(41, 106, 202, 0.4);
	padding: 30px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
    font-family: 'Sofia Sans', sans-serif !important;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#mslist fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#mslist input, #mslist textarea {
    font-family: 'Sofia Sans', sans-serif !important;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 15px;
	margin-bottom: 10px;
	width: 90%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
    opacity: 0.5;
}
/*buttons*/
#mslist .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
    text-decoration: none;
    font-size: 14px;
}
#mslist .action-button:hover, #mslist .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	margin-bottom: 10px;
}
.red {
    color: tomato;
  }
  
.img-text{
    vertical-align: middle;
}





